/* CSS */
.button {
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    line-height: 1em;
    padding: 19px 24px;
    cursor: pointer;
    margin-left: 20px;
}

